$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$blue: #1fc0fc;
$yellow: #ffc341;
$yellow-gradient: #ffd701;
$gradient: linear-gradient(108.42deg, $yellow 20.46%, $yellow-gradient 65.31%);
$dark: #484848;
